.container {
    margin-top: 1%;
    width: 105%;
    font-family: Arial, sans-serif;
    padding: 2rem;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
}
.container h1 {
    text-align: center;
    color: #333;
}
.section_1 {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    align-items: center;
}
.section_1 table {
    width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid grey;
    margin-top: 10px;
}
.section_1 table thead{
    background-color: #f0f0f0;
    text-transform: uppercase;
    font-weight: bold;
}
.section_1 th, td {
    padding: 0,5rem;
    text-align: center;
}
.section table tbody td{
    text-align: center;
}
.section_1 table tbody tr:nth-child(even){
    background-color: #deebf7;
}
.section table tbody tr:hover{
    background-color: #deebf7;
}
.button {
    cursor: pointer;
    justify-content: center;
    align-items: center;
}