.window {
    position: fixed;
    top: 6rem;
    left: 10%;
    width: 80%;
    height: 80%;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
}
.window_content {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 2rem;

    overflow-y: auto;
    max-height: 90vh;
}
.close_button {
    position: absolute;
    top: 0.1rem;
    right: 10px;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: gray;
    cursor: pointer;
    font-size: 2rem;
}

.window_content p {
    margin-bottom: 0.5rem; /* Adiciona um pouco de espaço abaixo de cada item */
    width: 100%; /* Garante que cada par chave-valor ocupe a largura total */
    display: flex; /* Para alinhar chave e valor na mesma linha */
    align-items: baseline; /* Alinha a linha de base dos textos */
}

.window_content p strong {
    width: 150px; /* Largura fixa para as chaves para alinhamento */
    display: inline-block;
    margin-right: 5px; /* Espaço entre a chave e o valor */
}